<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.microvolunteer.platform.repository.dao.mapper.HandicapInfoRegisterMapper">
    <select id="getHandicapInfo" resultType="org.microvolunteer.platform.domain.resource.HandicapInfo">
        select
            HandicapInfo.handicapinfo_id,
            HandicapInfo.handicapped_id,
            HandicapInfo.handicap_type,
            HandicapInfo.handicap_level,
            HandicapInfo.reliability_th,
            HandicapInfo.severity,
            HandicapInfo.comment
        from
            HandicapInfo
        where
            handicapinfo_id = #{handicapinfo_id}
    </select>
    <select id="getHandicapList" resultType="org.microvolunteer.platform.domain.resource.MyHandicap">
        select
            HandicapMaster.handicap_name,
            HandicapInfo.handicap_type,
            HandicapInfo.handicap_level,
            HandicapInfo.reliability_th,
            HandicapInfo.severity,
            HandicapInfo.comment
        from
            HandicapInfo
        left join HandicapMaster on
            HandicapMaster.handicap_type = HandicapInfo.handicap_type
        where
            HandicapInfo.handicapped_id = #{handicapped_id}
    </select>
    <select id="getHandicapList_old" resultType="org.microvolunteer.platform.domain.resource.MyHandicap">
        select
            HandicapInfo.handicapinfo_id,
            HandicapInfo.handicapped_id,
            HandicapInfo.handicap_type,
            HandicapInfo.handicap_level,
            HandicapInfo.reliability_th,
            HandicapInfo.severity,
            HandicapInfo.comment
        from
            HandicapInfo
        where
            handicapped_id = #{handicapped_id}
    </select>
    <insert id="registerHandicapInfo">
        insert into HandicapInfo(
            handicapped_id
            ,handicap_type
            ,handicap_level
            ,reliability_th
            ,severity
            ,comment)
        values(
            #{handicapped_id}
            ,${handicap_type}
            ,${handicap_level}
            ,${reliability_th}
            ,${severity}
            ,#{comment}
            )
    </insert>
</mapper>
