<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.microvolunteer.platform.repository.dao.mapper.HelpMapper">
    <select id="getHelpInfo" resultType="org.microvolunteer.platform.domain.resource.Help">
    </select>
    <insert id="registerHelp">
        insert into Help(
            handicapped_id
            ,volunteer_id
            ,location
            ,area_id
            ,handicap_type
            ,handicap_level
            ,reliability_th
            ,severity
            ,comment
            ,status)
        values(
            #{handicapped_id}
            ,null
            ,ST_GeomFromText(#{location},4326)
            ,#{area_id}
            ,#{handicap_type}
            ,#{handicap_level}
            ,#{reliability_th}
            ,#{severity}
            ,#{comment}
            ,#{status})
    </insert>
    <delete id="cancel">
        delete from Help where handicapped_id = #{handicapped_id} and status = 1
    </delete>
    <update id="registerMatching">
        update MyGeometry set
            volunteer_id = #{volunteer_id}
            ,status = 2
        where help_id = #{help_id} and status = 1
    </update>
    <update id="accept">
        update Help set volunteer_id = #{volunteer_id}, status = 2
        where help_id = #{help_id} and status = 1
    </update>
    <update id="closeHelp">
        update MyGeometry set status = 0
        where help_id = #{help_id} and status = 2
    </update>
    <select id="getHelpId" resultType="Integer">
        select help_id
        from Help
        where handicapped_id = #{user_id} order by help_id DESC limit 1;
    </select>
    <select id="getVolunteerId" resultType="String">
        select volunteer_id
        from Help
        where help_id = #{help_id};
    </select>
    <select id="getHandicappedId" resultType="String">
        select handicapped_id
        from Help
        where help_id = #{help_id};
    </select>
    <!--select id="getHelp">
        select CONVERT(ST_X(location),NCHAR), CONVERT(ST_Y(location),NCHAR)
        from MyGeometry
        where user_id = #{user_id}
    </select-->
    <select id="getHelpSignals" resultType="org.microvolunteer.platform.domain.resource.HelpSignal">
        SELECT
               h.help_id,
               ca.area_name,
               hm.handicap_name,
               ST_X(h.location) y_geometry,
               ST_Y(h.location) x_geometry,
               ST_Distance(h.location, ST_GeomFromText(#{location},4326)) distance,
               h.handicap_type,
               h.handicap_level,
               h.comment,
               h.created_at,
               h.updated_at
        FROM Help h
            LEFT JOIN CheckinArea ca ON h.area_id = ca.area_id
            LEFT JOIN HandicapMaster hm ON h.handicap_type = hm.handicap_type
        WHERE
            h.handicapped_id != #{my_id} AND h.status = 1
        order by distance LIMIT 5;
    </select>
    <select id="getHelpSignal" resultType="org.microvolunteer.platform.domain.resource.HelpSignal">
        SELECT
            h.help_id,
            ca.area_name,
            hm.handicap_name,
            ST_X(h.location) y_geometry,
            ST_Y(h.location) x_geometry,
            ST_Distance(h.location, ST_GeomFromText(#{location},4326)) distance,
            h.handicap_type,
            h.handicap_level,
            h.comment,
            h.created_at,
            h.updated_at
        FROM Help h
                 LEFT JOIN CheckinArea ca ON h.area_id = ca.area_id
                 LEFT JOIN HandicapMaster hm ON h.handicap_type = hm.handicap_type
        WHERE
            h.help_id = #{help_id}
    </select>
    <select id="getNeighborhood" resultType="org.microvolunteer.platform.domain.resource.NeighborDistance">
        SELECT user_id,
               ST_X(location) y_geometry,
               ST_Y(location) x_geometry,
               ST_Distance(location, ST_GeomFromText(#{location},4326)) distance
        FROM MyGeometry
        WHERE
            user_id != #{my_id} AND status = 1
        order by distance LIMIT 5;
    </select>
    <select id="listenHelp" resultType="org.microvolunteer.platform.domain.resource.NeighborDistance">
        SELECT user_id,
            ST_X(location) y_geometry,
            ST_Y(location) x_geometry,
            ST_Distance(location, ST_GeomFromText(#{location},4326)) distance
        FROM MyGeometry
        WHERE
            user_id != #{my_id} AND status = 1
            order by distance LIMIT 5;
    </select>
</mapper>
