<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.microvolunteer.platform.repository.dao.mapper.ThanksMapper">
    <insert id="thanks">
        insert into VolunteerHistory(volunteer_id, handicapped_id, location, area_id, handicap_type, handicap_level, satisfaction, status)
               select
                h.volunteer_id
                ,h.handicapped_id
                ,h.location
                ,h.area_id
                ,h.handicap_type
                ,h.handicap_level
                ,#{satisfaction}
                ,#{status}
                from Help h where h.help_id = #{help_id} and h.handicapped_id = #{handicapped_id}
    </insert>
    <select id="getMyVolunteerHistory" resultType="org.microvolunteer.platform.domain.resource.VolunteerHistory">
        select
            ST_X(vh.location) y_geometry
            ,ST_Y(vh.location) x_geometry
            ,ca.area_name
            ,DATE_FORMAT(vh.created_at, '%Y/%m/%d %H:%i') datetime
            ,vh.handicap_type
            ,vh.handicap_level
            ,vh.satisfaction
        from VolunteerHistory vh left join CheckinArea ca on vh.area_id = ca.area_id
        where vh.volunteer_id = #{volunteer_id} ORDER BY vh.created_at LIMIT ${get_limit}
    </select>

    <select id="getDoneList"  resultType="org.microvolunteer.platform.domain.resource.DoneThanks">
        select
             hm.handicap_name
             ,vh.handicap_type
             ,DATE_FORMAT(vh.created_at, '%Y/%m/%d %H:%i') datetime
             ,ca.area_name
             ,vh.satisfaction
        from VolunteerHistory vh
            left join CheckinArea ca on vh.area_id = ca.area_id
            left join HandicapMaster hm on vh.handicap_type = hm.handicap_type
        where vh.handicapped_id = #{handicapped_id} ORDER BY vh.created_at LIMIT ${get_limit}
    </select>

    <select id="getSendList"  resultType="org.microvolunteer.platform.domain.resource.SendThanks">
        select
             help_id
             ,hm.handicap_name
             ,h.handicap_type
             ,DATE_FORMAT(h.created_at, '%Y/%m/%d %H:%i') datetime
             ,ca.area_name
             ,0 as satisfaction
        from Help h
                 left join CheckinArea ca on h.area_id = ca.area_id
                 left join HandicapMaster hm on h.handicap_type = hm.handicap_type
        where h.handicapped_id = #{handicapped_id} and h.status = 2 ORDER BY h.created_at LIMIT ${get_limit}
    </select>
    <update id="thanksStatusUpdate">
        update Help set status = 3
        where help_id = #{help_id} and handicapped_id = #{handicapped_id} and status = 2
    </update>
</mapper>
