<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.microvolunteer.platform.repository.dao.mapper.UserMapper">
    <select id="getUserProperty" resultType="org.microvolunteer.platform.domain.resource.UserProperty">
        select
            Users.user_id,
            Users.name,
            Users.email
        from
            Users
        where
            user_id = Users.user_id
    </select>
    <insert id="registerUserProperty">
        insert into Users(user_id,name,email,password,status)
        values(
               #{user_id}
               ,#{name}
               ,#{email}
               ,#{password}
               ,${status}
              )
    </insert>
</mapper>
