<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.microvolunteer.platform.dao.mapper.MyGeometryMapper">
    <insert id="insertMyGeometry">
        insert into MyGeometry(user_id,location,status)
        values(#{user_id},ST_GeomFromText(#{location}),${status})
    </insert>
    <update id="updateMyGeometry">
        update MyGeometry set
            location = ST_GeomFromText(#{location})
            ,status = ${status}
        where user_id = #{user_id}
    </update>
    <select id="getMyGeometry" resultType="org.microvolunteer.platform.dto.LocationDto">
        select
               ST_X(location) x_geometry
             , ST_Y(location) y_geometry
        from MyGeometry
        where user_id = #{user_id}
    </select>
</mapper>
