<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" th:href="@{/css/my.css}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>micro-volunteer</title>
</head>
<body>
<header>
    <nav>
        <div class="nav-wrapper">
            <a th:href="@{/v1/user/mypage}" method="get" class="brand-logo">micro-volunteer</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">checkin!</a></li>
                <li><a href="#">Help!</a></li>
                <li><a th:href="@{/v1/user/thanks_list}" method="post">Thanks</a></li>
                <li><a th:href="@{/v1/user/history}" method="post">history</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">checkin!</a></li>
        <li><a href="#">Help!</a></li>
        <li><a th:href="@{/v1/user/thanks_list}" method="post">Thanks</a></li>
        <li><a th:href="@{/v1/user/history}" method="post">history</a></li>
    </ul>
</header>

<div class="card_list">
    <ul class="collection">
        <form th:action="@{/v1/user/help/call}" method="post" th:object="${helpRequest}" class="col s12">
            <span class="card-title">以下の内ようでHelpを発信しますか？</span>
            <li class="collection-item avatar">
                <i class="material-icons">
                    <img th:src="@{/img/{handicap_type}.png(handicap_type=${myHandicap.handicap_type})}" class="circle">
                </i>
                <p>[[${myHandicap.handicap_name}]]</p>
                <p>障がいの程度： [[${myHandicap.handicap_level}]] <br>
                    コメント： [[${myHandicap.comment}]] </p>
                <div class="input-field col s6" hidden>
                    <input name="handicapinfo_id" th:value="${myHandicap.handicapinfo_id}">
                    <input name="y_geometry" th:value="35.7107654">
                    <input name="x_geometry" th:value="139.795978">
                    <input name="token" th:value="${token}">
                </div>
                <button class="btn waves-effect waves-light btn-small" type="submit" name="action">help
                    <i class="material-icons right">call_made</i>
                </button>
            </li>
        </form>
    </ul>
    <div align="center">
    <a class="btn-floating btn-large waves-effect waves-light red" th:href="@{/v1/user/mypage/{token}(token=${token})}" method="get"><i class="material-icons">clear</i></a>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>