<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" th:href="@{/css/my.css}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>micro-volunteer</title>
</head>
<body>
<header>
    <nav>
        <div class="nav-wrapper">
            <a th:href="@{/v1/user/mypage}" method="get" class="brand-logo">micro-volunteer</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">checkin!</a></li>
                <li><a href="#">Help!</a></li>
                <li><a th:href="@{/v1/user/thanks_list}" method="post">Thanks</a></li>
                <li><a th:href="@{/v1/user/history}" method="post">history</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">checkin!</a></li>
        <li><a href="#">Help!</a></li>
        <li><a th:href="@{/v1/user/thanks_list/{token}(token=${token})}" method="post">Thanks</a></li>
        <li><a th:href="@{/v1/user/history/{token}(token=${token})}" method="post">history</a></li>
    </ul>
</header>

<div class="card_list">
    <ul class="collection">
            <li class="collection-item avatar" th:each="helpSignal: ${signalList.helpSignals}">
            <i class="material-icons">
                <img th:src="@{/img/{handicap_type}.png(handicap_type=${helpSignal.handicap_type})}" class="circle">
            </i>
            <span class="title">[[${helpSignal.handicap_name}]]</span>
            <p>障がいの程度： [[${helpSignal.handicap_level}]] <br>
                コメント： [[${helpSignal.comment}]] </p>
            <p>距離： [[${helpSignal.distance}]]  m<br>
                <a th:href="@{/v1/matching/accept/{token}/{help_id}(token=${token},help_id=${helpSignal.help_id})}" class="secondary-content"><i class="material-icons">directions_run</i></a>
            </li>
    </ul>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>