<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" th:href="@{/css/my.css}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>micro-volunteer</title>
</head>
<body>
<header>
    <nav>
        <div class="nav-wrapper">
            <a th:href="@{/v1/user/mypage/{token}(token=${token})}" method="get" class="brand-logo">micro-volunteer</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">checkin!</a></li>
                <li><a href="#">Help!</a></li>
                <li><a th:href="@{/v1/user/thanks_list/{token}(token=${token})}" method="post">Thanks</a></li>
                <li><a th:href="@{/v1/user/history/{token}(token=${token})}" method="post">history</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">checkin!</a></li>
        <li><a href="#">Help!</a></li>
        <li><a th:href="@{/v1/user/thanks_list/{token}(token=${token})}" method="post">Thanks</a></li>
        <li><a th:href="@{/v1/user/history/{token}(token=${token})}" method="post">history</a></li>
    </ul>
</header>

<div class="card_list">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <a th:href="@{/v1/matching/listen/{token}(token=${token})}" method="post" class="secondary-content"><i class="material-icons">hearing</i></a>
                <a th:href="@{/v1/matching/checkin/{token}(token=${token})}" method="post" class="secondary-content"><i class="material-icons">location_on</i></a>
                <span class="card-title">[[${myProfile.volunteer_summary.my_name}]]</span>
                <p>助けた回数： [[${myProfile.volunteer_summary.support_count}]]</p>
                <p>平均満足度： [[${myProfile.volunteer_summary.average_satisfaction}]]</p>
            </div>
        </div>
    </div>

    <ul class="collection">
        <form th:action="@{/v1/user/help/select/{token}(token=${token})}" method="post" th:object="${helpRequest}" class="col s12">
            <li class="collection-item avatar" th:each="myHandicap: ${myProfile.handicap_list}">
            <i class="material-icons">
                <img th:src="@{/img/{handicap_type}.png(handicap_type=${myHandicap.handicap_type})}" class="circle">
            </i>
            <span class="title">[[${myHandicap.handicap_name}]]</span>
            <p>障がいの程度： [[${myHandicap.handicap_level}]] <br>
                コメント： [[${myHandicap.comment}]] </p>
                <a th:href="@{/v1/user/help/select/{token}/{handicap_id}(token=${token},handicap_id=${myHandicap.handicapinfo_id})}" class="secondary-content"><i class="material-icons">call_made</i></a>
            </li>
        </form>
    </ul>
    <div class="card-action">
        <a class="waves-effect waves-light btn" th:href="@{/v1/user/handicap/register/{token}(token=${token})}" method="get">追加</a>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>