<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" th:href="@{/css/my.css}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>micro-volunteer</title>
</head>
<body>
<header>
    <nav>
        <div class="nav-wrapper">
            <a th:href="@{/v1/user/mypage/{token}(token=${token})}" method="get" class="brand-logo">micro-volunteer</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">checkin!</a></li>
                <li><a href="#">Help!</a></li>
                <li><a href="#">Thanks</a></li>
                <li><a th:href="@{/v1/default/user/history/{token}(token=${token})}" method="post">history</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">checkin!</a></li>
        <li><a href="#">Help!</a></li>
        <li><a href="#">Thanks</a></li>
        <li><a th:href="@{/v1/default/user/history/{token}(token=${token})}" method="post">history</a></li>
    </ul>
</header>

<div class="registration_form">
    <ul class="collection">
        <li class="collection-item avatar" th:each="thanks : ${thanksList.send_list}">
            <img th:src="@{/img/{handicap_type}.png(handicap_type=${thanks.handicap_type})}" class="circle">
            <span class="title" th:text="${thanks.handicap_name}"></span>
            <p th:text="${thanks.area_name}"></p>
        </li>
    </ul>
</div>
<div class="registration_form">
    <ul class="collection">
        <li class="collection-item avatar" th:each="thanks : ${thanksList.done_list}">
            <!--span class="badge" th:text="${myactivity.satisfaction}"> </span-->
            <img th:src="@{/img/{handicap_type}.png(handicap_type=${thanks.handicap_type})}" class="circle">
            <span class="title" th:text="${thanks.handicap_name}"></span>
            <p th:text="${thanks.area_name}"></p>
        </li>
    </ul>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
